.home {
    height: 850px;
    border: 0.5px solid lightgreen;
}

.circle {
    height: 75px;
    width: 75px;
    border: 0.3px solid grey;
    border-radius: 50%;
    position: absolute;
    background-color: grey;
    z-index: -1;
}

.MinesweeperField {
    height: 850px;
    border: 0.5px solid lightblue;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.Cell {
    border: 1px solid lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.neighborText {
    font-size: 50px;
    z-index: -5;
}

.cat {
    background-image: url("../assets/PXL_20221108_224932328.jpg");
    z-index: -1;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}